body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: white;
}
.main-header {
    text-align: center;
    width: 825px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}
.main-header .container ul {
    list-style: none;
    display: inline-block;
    margin: 20px 15px;
    padding: 0;
    text-decoration: none;
    text-align: center;
}
.main-header .container li {
    display: inline;
}
.main-header .container a {
    font-weight: bold;
    text-decoration: none;
    color: red;
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    display: inline;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.main-header a:hover {
    color: red;
    font-weight: 400;
}
.main-photo {
    display: block;
    width: 1600px;
    height: 900px;
    margin: 0 auto;
}
.container-page .caption {
    text-align: center;
    letter-spacing: 10px;
}
.main-text .caption {
    font-size: 22px;
    margin: 40px 0 0;
    display: block;
}
.main-text p {
    width: 1600px;
    margin: 0 auto;
}
.main-text .text {
    margin: 0 67.5px 28px;
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;

}
footer {
    width: 1600px;
    margin: 0 auto;
}

footer h4{
    margin-right: 105px;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

    color: #373737;
}
.button-form {
    text-align: center;
    margin: 60px 0;
}
.button-form .button{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 3px;
    color: white;
    background: red;
    text-decoration: none;
    border: 20px solid red;
    border-radius: 7px;
    width: 250px;
    cursor: pointer;
}



